<div class="coursebox clearfix custom_course" data-courseid="{{courseid}}" data-type="1">
    <div class="info">
  
      <div class="h-200 col-md-3 rounded-top course_img" style="background-image: url('{{ courseimage }}');">
      </div>
    
      <div class="col-md-6 pull-left">

        <h3 class="coursename">
            {{coursename}}
            {{# coursesummary}}
              <p class="card-text course_summary_p" >{{{ coursesummary }}}</p>
            {{/ coursesummary}}
        </h3>
        
            {{# date }}
              <h6>Registration Date: {{date}}</h6>
            {{/ date }}

      </div>

        {{# library }}

        <div class="pull-right licensed_seat" >{{licensedSeats}}
         
          <div class="moreinfo_custom" >
              <a data-toggle="modal" data-target="#myModal" class="add_to_lib_button" href="#" >
                      Add License Seats
                      </a>
             
              {{# lregister }}
                <a class="pull-right admin_button {{courseid}}" href="#" onClick=enrol({{courseid}},{{userid}},{{companyid}})>
                  Register
                </a>
              {{/ lregister }}
             
              {{# lstart }}
                <ul class="remove_bullet">
                    <li>
                        <a class="pull-right admin_button {{courseid}}" href="{{courseurl}}" >
                            Start
                        </a>
                    </li>
                </ul>
              {{/ lstart }}

              {{# lcontinue }}
                <ul class="remove_bullet">
                    <li>
                        <a class="pull-right admin_button {{courseid}}" href="{{courseurl}}" >
                            Continue
                        </a>
                    </li>

                </ul>
              {{/ lcontinue }}

              {{# review }}
                <ul class="remove_bullet">
                    <li>
                        <a class="pull-right admin_button {{courseid}}" href="{{courseurl}}" >
                            Review
                        </a>
                    </li>
                    <li>
                        <a class="underline custom_a" href="{{wwwroot}}/local/report_users/index.php" >
                            Get Transcript or Certificate
                        </a>
                    </li>
                </ul>
              {{/ review }}
             
              </div> 
          </div>  
        {{/ library }}

        {{^ library }}

         <div class="pull-right student_main_div">
          <div class="margin_top_30">
              {{# register }}
                  <a class="student_button student_register_button {{courseid}}" href="#" onClick=enrol({{courseid}},{{userid}},{{companyid}})>
                  Register
                  </a>
              {{/ register }}

              {{# start }}
                <ul class="remove_bullet">
                    <li>   <a class="student_button student_start_button {{courseid}}" href="{{courseurl}}" >
                            Start
                        </a>
                    </li>

                </ul>
              {{/ start }}

              {{# continue }}
                  <ul class="remove_bullet">
                    <li>
                        <a class="student_button student_continue_button {{courseid}}" href="{{courseurl}}" >
                            Continue
                        </a>
                    </li>
 
                </ul>
              {{/ continue }}

              {{# review }}
                <ul class="remove_bullet">
                    <li>
                        <a class="student_button student_continue_button {{courseid}}" href="{{courseurl}}" >
                            Review
                        </a>
                    </li>

                    <li class="margin_top_10">
                        <a class="underline" href="{{wwwroot}}/local/report_users/index.php" >
                            Get Transcript or Certificate
                        </a>
                    </li>
                </ul>
              {{/ review }}
          </div>
         </div> 
        {{/ library }}

  </div>
</div>  





<!--  Custom Modal Popup in moodle   -->

     <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
          <p>Get access instantly! Call 1-888-888-8888.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div>
      
    </div>
  </div>
